body {
	margin: 0;
}

.titlebar {
	background-color: blue;
	font-weight: bold;
}

#nav {
	background-color: blue;
	padding: 15px;
}

#nav li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	color: white;
	text-align: center;
	padding: 15px 12px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

#nav li:last-child {
	border-right: none;
}

.loginButton {
	left: auto;
	right: 100%;
}

.gameContainer {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 100%;
	width: 100%;
}

.shipSelectContainer {
	width: 150px;
	height: 225px;
	display: inline-block;
	border: 3px solid darkblue;
	vertical-align: calc(50% + 120px);
	position: relative;
}

.shipSelectContainer ul {
	padding: 0;
	padding-bottom: 14px;
}

.shipSelectContainer h4 {
	text-align: center;
}

.shipSelectContainer button {
	margin: 7px;
	width: 120px;
	font-weight: bold;
	outline: 0;
}

.shipSelectContainer li {
	text-align: center;
	list-style: none;
	margin: 5px;
	cursor: pointer;
}

.sunkShips {
	width: 150px;
	height: 225px;
	display: inline-block;
	border: 3px solid darkblue;
	vertical-align: calc(50% + 155px);
	position: relative;	
	margin-left: 20px;
}

.sunkShips ul {
	padding: 0;
	list-style: none;
	padding-bottom: 14px;
}

.sunkShips li {
	text-align: center;
	list-style: none;
	margin: 5px;
}

.sunkShip {
	visibility: hidden;
}

.board {
	width: 320px;
	display: inline-block;
	margin: 20px;
}

#leftBoard {
	display: inline-block;
}

#rightBoard {
	display: inline-block;
}

.board h2 {
	width: 320px;
	display: inline-block;
	margin-bottom: 5px;
}

.gridContainer {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin: 10px;
	border: 3px solid darkblue;
}

.cell {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: skyblue;
	border: 1px solid darkblue;
}

.cell.hit{
	background-color: red;
}

.x0, .x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9 {
	float:left;
}

.showSunkShip {
	visibility: default;
}

.hidePlacedShip {
	visibility: hidden;
}

.mouseenter {
	background-color: lightblue;
}

.mouseleave {
	background-color: skyblue;
}

/* Awesome Website for getting css code from sprite sheet! 
http://www.spritecow.com*/
#shipPack{
	position:absolute;
}
.destroyer{
	background: url('battleship_sprites.png') no-repeat -365px -11px;
	width: 20px;
	height: 61px;
	/*background: url('Battleship_Pack.PNG') no-repeat -124px -237px; 
	width: 61px;
	height: 20px;*/
}

.submarine{
	background: url('battleship_sprites.png') no-repeat -332px -11px;
	width: 23px;
	height: 98px;
	/*background: url('Battleship_Pack.PNG') no-repeat -124px -267px; 
	width: 98px;
	height: 23px;*/
}

.cruiser{
	background: url('battleship_sprites.png') no-repeat -301px -11px;
	width: 25px;
	height: 92px;
	/*background: url('Battleship_Pack.PNG') no-repeat -124px -296px; 
	width: 92px;
	height: 25px;*/
}

.battleship{
	background: url('battleship_sprites.png') no-repeat -267px -11px;
	width: 27px;
	height: 139px;
	/*background: url('Battleship_Pack.PNG') no-repeat -124px -328px; 
	width: 139px;
	height: 27px;*/
}

.carrier{
	background: url('battleship_sprites.png') no-repeat -213px -11px;
	width: 38px;
	height: 167px;
	/*background: url('Battleship_Pack.PNG') no-repeat -124px -371px; 
	width: 167px;
	height: 38px;*/
}

.ship {
	background-color: steelblue;
}

.sprites {
	background: url('../Battleship_Pack.PNG');
}

.r-destroyer {
	background: url('battleship_sprites.png') no-repeat -5px -6px;
	width: 61px;
	height: 20px;
}

.r-submarine {
	background: url('battleship_sprites.png') no-repeat -5px -36px;
	width: 98px;
	height: 23px;
}

.r-cruiser {
	background: url('battleship_sprites.png') no-repeat -5px -65px;
	width: 92px;
	height: 25px;
}

.r-battleship {
	background: url('battleship_sprites.png') no-repeat -5px -97px;
	width: 139px;
	height: 27px;
}

.r-carrier {
	background: url('battleship_sprites.png') no-repeat -5px -140px;
	width: 167px;
	height: 38px;
}
  /**/
.u-destroyer {
	background: url('battleship_sprites.png') no-repeat -24px -322px;
	width: 20px;
	height: 61px;
}

.u-submarine {
	background: url('battleship_sprites.png') no-repeat -54px -285px;
	width: 23px;
	height: 98px;
}

.u-cruiser {
	background: url('battleship_sprites.png') no-repeat -83px -291px;
	width: 25px;
	height: 92px;
}

.u-battleship {
	background: url('battleship_sprites.png') no-repeat -115px -244px;
	width: 27px;
	height: 139px;
}

.u-carrier {
	background: url('battleship_sprites.png') no-repeat -158px -216px;
	width: 38px;
	height: 167px;
}

.l-destroyer {
	background: url('battleship_sprites.png') no-repeat -326px -353px;
	width: 61px;
	height: 20px;
}

.l-submarine {
	background: url('battleship_sprites.png') no-repeat -289px -320px;
	width: 98px;
	height: 23px;
}

.l-cruiser {
	background: url('battleship_sprites.png') no-repeat -295px -289px;
	width: 92px;
	height: 25px;
}

.l-battleship {
	background: url('battleship_sprites.png') no-repeat -248px -255px;
	width: 139px;
	height: 27px;
}

.l-carrier {
	background: url('battleship_sprites.png') no-repeat -220px -201px;
	width: 167px;
	height: 38px;
}

.d-destroyer {
	background: url('battleship_sprites.png') no-repeat -365px -11px;
	width: 20px;
	height: 61px;
}

.d-submarine {
	background: url('battleship_sprites.png') no-repeat -332px -11px;
	width: 23px;
	height: 98px;
}

.d-cruiser {
	background: url('battleship_sprites.png') no-repeat -301px -11px;
	width: 25px;
	height: 92px;
}

.d-battleship {
	background: url('battleship_sprites.png') no-repeat -267px -11px;
	width: 27px;
	height: 139px;
}

.d-carrier {
	background: url('battleship_sprites.png') no-repeat -213px -11px;
	width: 38px;
	height: 167px;
}