/* CSS declarations go here */
body {
	margin: 0;
}

.titlebar {
	background-color: blue;
	font-weight: bold;
}

#nav {
	background-color: blue;
	padding: 15px;
}

#nav li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	color: white;
	text-align: center;
	padding: 15px 12px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

#nav li:last-child {
	border-right: none;
}

.loginButton {
	left: auto;
	right: 100%;
}

.gameContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.board {
	width: 320px;
	display: inline-block;
	margin: 20px;
}

.board h2 {
	width: 320px;
	display: inline-block;
}

.gridContainer {
	width: 320px;
	display: inline-block;
	margin: 10px;
	border: 3px solid darkblue;
}

.cell.empty{
	width: 30px;
	height: 30px;
	background-color: skyblue;
	border: 1px solid darkblue;
}



.x0, .x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9 {
	float:left;
}



