	battleship/.meteor/.finished-upgraders
	battleship/.meteor/.gitignore
	battleship/.meteor/.id
	battleship/.meteor/packages
	battleship/.meteor/platforms
	battleship/.meteor/release
	battleship/.meteor/versions